Create a class normal room contains method calculates() which take no_rooms,days as parameter used to calculate the room rent.

In [ ]:
class NormalRoom:
    def calculate(self, no_rooms, days):
        if days == 1:
            rent_per_room = 300
        elif 1 < days <= 5:
            rent_per_room = 250
        else:
            rent_per_room = 200
        return no_rooms * days * rent_per_room


class ACRoom:
    def AC_calculate(self, no_rooms, days):
        if days == 1:
            rent_per_room = 450
        elif 1 < days <= 5:
            rent_per_room = 300
        else:
            rent_per_room = 250
        return no_rooms * days * rent_per_room


class SuiteRoom:
    def suite_calculate(self, no_rooms, days):
        if days == 1:
            rent_per_room = 550
        elif 1 < days <= 5:
            rent_per_room = 500
        else:
            rent_per_room = 450
        return no_rooms * days * rent_per_room


class Hotel(NormalRoom, ACRoom, SuiteRoom):
    def display(self, name, address, mobile_number):
        print("\n--- Hotel Booking Details ---")
        print(f"Name: {name}")
        print(f"Address: {address}")
        print(f"Mobile Number: {mobile_number}")





    name = input("Enter your name: ")
    address = input("Enter your address: ")
    mobile_number = input("Enter your mobile number: ")

    if __name__ =="main":
      hotel=Hotel(name,address,mobile_number)

    print("\nSelect Room Type:")
    print("1. Normal Room")
    print("2. AC Room")
    print("3. Suite Room")


    room_type = int(input("Enter room type (1/2/3): "))
    no_rooms = int(input("Enter the number of rooms: "))
    days = int(input("Enter the number of days: "))


    if room_type == 1:
        rent = hotel.calculate(no_rooms, days)
        room_name = "Normal Room"
    elif room_type == 2:
        rent = hotel.AC_calculate(no_rooms, days)
        room_name = "AC Room"
    elif room_type == 3:
        rent = hotel.suite_calculate(no_rooms, days)
        room_name = "Suite Room"
    else:
        print("Invalid room type selected!")
        exit()


    hotel.display(name, address, mobile_number)
    print(f"Room Type: {room_name}")
    print(f"Number of Rooms: {no_rooms}")
    print(f"Number of Days: {days}")
    print(f"Total Rent: {rent} INR")

Enter your name: Gangadhar
Enter your address: Koramangala
Enter your mobile number: 9148098421

Select Room Type:
1. Normal Room
2. AC Room
3. Suite Room
Enter room type (1/2/3): 2
Enter the number of rooms: 1
Enter the number of days: 1

NameError: name 'hotel' is not defined

In [ ]:
class NormalRoom():
    def calculates(self, no_rooms, days):
        self.no_rooms = no_rooms
        self.days = days
        if days == 1:
            rent = no_rooms*300*1
        elif days>1 and days<=5:
            rent = no_rooms*250*days
        else:
            rent = no_rooms*200*days
        print("Room Rent =",rent)

        total_rent = no_rooms * days * rent_per_day
        return total_rent

# Example usage
room = NormalRoom()
print("Total Rent:", room.calculates(2, 3))  # 2 rooms for 3 days

Total Rent: 1500

In [ ]:
class Person():
    def __init__(self):
        super().__init__()
        self.name=name
        self.Id=Id

    def display(self):
        print("Name is =",self.name)
        print("Staff Id is =",self.Id)

class Staff(Person):
    def __init__(self, salary):
        super().__init__()
        self.Id = id
    def display(self):
        super().display()
        print("Staff Id is =",self.Id)

class Temporary_staff(Staff):
    def __init__(self,name,Id,days,hoursworked):
        super().__init__()
        self.days=days
        self.hoursworked=hoursworked
    def Salary(self):
        salary=days*hoursworked*150
        return salary
    def display(self):
        super().display()
        print("No. of Days =",days)
        print("No. of Hours Worked =",hoursworked)
        print("Total Salary =" , self.Salary())

name = input("Enter name: ")
id_number = input("Enter ID: ")
days = int(input("Enter number of days worked: "))
hours_per_day = int(input("Enter hours worked per day: "))

Enter name: Nanu
Enter ID: 01098010
Enter number of days worked: 25
Enter hours worked per day: 8

In [ ]:
name = input("Enter name: ")
id_number = input("Enter ID: ")
days = int(input("Enter number of days worked: "))
hours_per_day = int(input("Enter hours worked per day: "))

staff = TemporaryStaff(name, id_number, days, hours_per_day)
staff.display()

Enter name: Nanu
Enter ID: 01098010
Enter number of days worked: 26
Enter hours worked per day: 8

NameError: name 'TemporaryStaff' is not defined

In [ ]:
name = input("Enter name: ")
id_number = input("Enter ID: ")
days = int(input("Enter number of days worked: "))
hours_per_day = int(input("Enter hours worked per day: "))

# Assuming 'temporary_staff' class is the one you intended to use
staff = temporary_staff(name, id_number, days, hours_per_day)  #Changed to temporary_staff instead of TemporaryStaff

staff.display()  # This line might also cause an error if temporary_staff doesn't have a 'display' method

Enter name: Nanu
Enter ID: 01098010
Enter number of days worked: 26
Enter hours worked per day: 8

TypeError: temporary_staff.__init__() takes 2 positional arguments but 5 were given

In [ ]:
class Person:
  def _init_(self,name):
    self.name=name

  def nameperson():
    print(self.name)

class staff(Person):
  def _init_(self,id):
    self.id=id;

  def displayid(self):
    print(self.id)

class Temporary_staf(staff):
  def _init_(self,days,hoursworked):
    self.days= days;
    self.hoursworked=hoursworked;
  def salary(self):
    self.salary=days+hoursworked*150
  def display(self):
    print("no of days",days)
    print("no of hours worked",hoursworked)
    print("total_salary",self.salary)
nme=input()
id=int(input())
days=int(input())
hoursworked=int(input())
temp=Temporary_staf(days,hoursworked)
temp.display()

Nanu